#! /bin/bash
{% if additional_env_file_path is defined %}
source {{ additional_env_file_path }}
{% endif %}
{% for key, value in control_center_service_environment_overrides.items() %}
{% if value %}
{{key}}="{{value}}" \
{% endif %}
{% endfor %}
nohup {{ control_center.server_start_file }} {{ control_center.config_file }} > /dev/null 2>&1 &