#! /bin/bash
{% if additional_env_file_path is defined %}
source {{ additional_env_file_path }}
{% endif %}
{% for key, value in kafka_controller_service_environment_overrides.items() %}
{% if value %}
{{key}}="{{value}}" \
{% endif %}
{% endfor %}
nohup {{ kafka_controller.server_start_file }} {{ kafka_controller.config_file }} > /dev/null 2>&1 &