#! /bin/bash
{% if additional_env_file_path is defined %}
source {{ additional_env_file_path }}
{% endif %}
{% for key, value in ksql_service_environment_overrides.items() %}
{% if value %}
{{key}}="{{value}}" \
{% endif %}
{% endfor %}
nohup {{ ksql.server_start_file }} {{ ksql.config_file }} > /dev/null 2>&1 &