#! /bin/bash
{% for key, value in zookeeper_service_environment_overrides.items() %}
{% if value %}
{{key}}="{{value}}" \
{% endif %}
{% endfor %}
{{ zookeeper.server_start_file }} {{ zookeeper.config_file }} > /dev/null 2>&1 &