#! /bin/bash
{% for key, value in ksql_service_environment_overrides.items() %}
{% if value %}
{{key}}="{{value}}" \
{% endif %}
{% endfor %}
{{ ksql.server_start_file }} {{ ksql.config_file }} > /dev/null 2>&1 &