#! /bin/bash
{% for key, value in schema_registry_service_environment_overrides.items() %}
{% if value %}
{{key}}="{{value}}" \
{% endif %}
{% endfor %}
{{ schema_registry.server_start_file }} {{ schema_registry.config_file }} > /dev/null 2>&1 &